.copyright
    - var personalURL = "https://mexii.one";
    - var host = "https://workers.cloudflare.com/";
    - var hexoURL = "https://hexo.io/";
    - var apolloURL = "https://github.com/achjqz/hexo-theme-apollo";
    - var currentDate = new Date();
    - var year = currentDate.getFullYear();
    - year = year == theme.startyear ? year : theme.startyear + ' - ' + year;
    p © #{year} #[a(href=personalURL)!= config.author]
    p hosted by #[a(href=host, target="_blank") Cloudflare Workers]
    p powered by #[a(href=hexoURL, target="_blank") Hexo] and #[a(href=apolloURL, target="_blank") hexo-theme-apollo]